.navbar {
  display: flex;

  background-color: #02011c;
  padding: 15px 40px;
  
  position: absolute;
  top: 0;
  z-index: 1000;
}

.logo {
  font-size: 22px;
  color: white;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  color: rgb(18, 18, 18);
  gap: 25px;
}

.nav-links a {
  text-decoration: none;
  
  font-weight: 500;
  transition: 0.3s ease;
}

.nav-links a:hover {
  color: #f4f4f8;
}

.nav-links a.active {
  color: #e2e2ed;
  border-bottom: 2px solid #e6e7ee;
  padding-bottom: 4px;
}