.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #060a36;
  padding: 15px 40px;
  
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo {
  font-size: 22px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links a {
  text-decoration: none;
  
  font-weight: 500;
  transition: 0.3s ease;
}

.nav-links a:hover {
  color: #00010b;
}

.nav-links a.active {
  color: #060a36;
  border-bottom: 2px solid #060a36;
  padding-bottom: 4px;
}