*{
box-sizing:border-box;
margin:0;
padding:0;
}

/* Container */

.container{

font-family:Arial;
 padding: 20px;
max-width:1600px;
margin:auto;
}

/* Title */

.title{
margin:10px 0 20px 0;
text-align:center;
font-size:28px;
font-weight:bold;
}

/* Cars Grid */

.cars-grid{
display:grid;
margin-top: 30px;
grid-template-columns:repeat(3,2fr);
gap:10px;
border: black;
}

/* Car Card */

.cars-grid .car-card{
    width: 100%;
border:1px solid #ddd;
padding:15px;
border-radius:10px;
text-align:center;
background:rgb(255, 255, 255);
transition:0.2s;
}

.car-card:hover{
transform:scale(1.02);
box-shadow:0 4px 12px rgba(0,0,0,0.1);
}

/* Car Image */

.car-card img{
width:100%;
height:30px;

border-radius:10px;
cursor:pointer;
}

/* Car Name */

.car-card h3{
margin-top:10px;
}

/* Price */

.car-card p{
margin:5px 0;
}

/* Button */

.car-card button{
margin-top:10px;
padding:10px 15px;
background:black;
color:white;
border:none;
cursor:pointer;
border-radius:5px;
}

.car-card button:hover{
background:#333;
}

/* Tablet */

@media (max-width:900px){

.cars-grid{
grid-template-columns:repeat(2,1fr);
}

}

/* Mobile */

@media (max-width:600px){

.container{
padding:10px;
}

.cars-grid{
grid-template-columns:1fr;
}

.car-card img{
height:160px;
}

}
/* 🔥 SNACKBAR */
.snackbar {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background: #111827;
  color: white;
  padding: 18px 20px;
  border-radius: 12px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
  width: 280px;
  animation: slideIn 0.3s ease;
}

.snackbar p {
  margin-bottom: 10px;
  font-size: 14px;
}

/* BUTTONS */
.snackbar-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.ok-btn {
  background: #ef4444;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  color: white;
  cursor: pointer;
}

.cancel-btn {
  background: #374151;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  color: white;
  cursor: pointer;
}

/* ANIMATION */
@keyframes slideIn {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}